{#
/**
 * @file
 * Template for a 2 column panel layout.
 *
 * This template provides a two column panel display layout, with
 * each column roughly equal in width. It is 5 rows high; the top
 * middle and bottom rows contain 1 column, while the second
 * and fourth rows contain 2 columns.
 *
 * Variables:
 * - id: An optional CSS id to use for the layout.
 * - css_classes: Optional CSS classes to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.top: Content in the top row.
 *   - content.above_left: Content in the left column in row 2.
 *   - content.above_right: Content in the right column in row 2.
 *   - content.middle: Content in the middle row.
 *   - content.below_left: Content in the left column in row 4.
 *   - content.below_right: Content in the right column in row 4.
 *   - content.right: Content in the right column.
 *   - content.bottom: Content in the bottom row.
 */
#}
{% if  settings.css_id or settings.css_classes %}
<div {{ attributes.setAttribute('id', settings.css_id).addClass('gmh-frontpage-bricks', settings.css_classes) }}>
{% endif %}

  <div id="hero_front_gmh">
    <div class="row">
      <div class="medium-12 columns">
        {{ content.hero }}
      </div>
    </div>
  </div>
  <div id="about_front_gmh">
    <div class="row">
      <div class="medium-12 columns">
        {{ content.about }}
      </div>
    </div>
  </div>
  <div id="latest_front_gmh">
    <div class="row">
      <div class="medium-12 columns">
        {{ content.latest }}
      </div>
    </div>
  </div>
  <div id="testimonials_front_gmh">
    <div class="row">
      <div class="medium-12 columns">
        {{ content.testimonials }}
      </div>
    </div>
  </div>
  <div id="ads_front_gmh">
    <div class="row">
      <div class="medium-12 columns">
        {{ content.ads }}
      </div>
    </div>
  </div>
  <div id="partners_front_gmh">
    <div class="row">
      <div class="medium-6 small-12 columns">
        {{ content.partners }}
      </div>
      <div class="medium-6 small-12 columns">
        {{ content.events }}
      </div>
    </div>
  </div>
  <div id="blog_front_gmh">
    <div class="row">
      <div class="medium-6 small-12 columns">
        {{ content.blog }}
      </div>
      <div class="medium-6 small-12 columns">
        {{ content.editor_choice }}
      </div>
    </div>
  </div>
  <div id="bottom_front_gmh">
    <div class="row">
      <div class="medium-12 columns">
        {{ content.bottom }}
      </div>
    </div>
  </div>
{% if  settings.css_id or settings.css_classes %}
</div> <!-- /.gmh-frontpage-bricks -->
{% endif %}
